<!-- Open html and body tags, link to style.css page and heading-->
<html>
    <head>
        <!--typeof returns type of object as a string-->
        <title><%= typeof title !== 'undefined' ? title : 'Default' %></title>
        <link rel="stylesheet" href="/style.css">
    </head>
<body>
    <h1>Tori's Weather Page</h1>
<nav><a href="http://localhost:3000">Homepage</a></nav>

