<!-- EJS template for errors in parameters-->
<%- include('./partials/header', {title: "Not Found"}); %>

<h3>Sorry, page not found!</h3>
<h3>Click here to go back to the main page - 
    <a href="http://localhost:3000">Home</a>
</h3>

<%- include('./partials/footer'); %> 